
   {{> navbar }}
   <div class="jumbotron">
  <h1 class="display-4">Hola, Rise</h1>
  <p class="lead">para ver los datos en el mapa, primero dar click es obtener datos y luego en mapa.</p>
  <hr class="my-4">
  
</div>
</body>
</html>